
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

body {
	font-family: 'Source Sans Pro', sans-serif;
  margin-top: 51px;
		    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
	/* font-size: 16px; important! */
}



.marketing, .footer {
	/* text-shadow: 1px 1px 2px #b2b2b2; */
  
}

aside {
	font-size: 1.6rem;
	
}

#checkBtn {
	margin-bottom: 16px;
}

#right-sidebar ul li {
	padding-bottom: 8px;
}

.ads {
	margin: 14px 0px;
}

.syntax {
	font-family: monospace, verdana, times;
	font-size: 17px;
	color: #555;
}
.msg {
	font-weight: bold;
	color: red;
}
.good {
	background-color: rgba(0, 128, 0, 0.39);
}
.bad {
	background-color: rgba(255, 0, 0, 0.35);
}

.marketing {
	margin: 20px 0px;
}
label {
  /* font-weight: 400; */
}

em {
  color: #374FCA;
  font-weight: 700;
}

.subject {
  color: #3B59B0;
  font-weight: bold;
}

.verb {
  color: #B85CA1;
  font-weight: bold;
}
 
.compl {
  color: #5BB35B;
  font-weight: bold;
}

h1,h2,h3,h5 {
	color:#777;
  letter-spacing: -1px;
}

h3 {
  font-size: 50px;
  color: #4C79FF;
}
.formula {
	color: green;
  font-style: bold;
}

input.form-control {
	font-size: 16px;
	
}